# Section 2.1.2 Variables, Expressions, & Statements

## 1. Values & Types

Value = The most basic element a program will work with, like a letter or a number.

Types = Values can be of different Types. 
Types include: integers (no decimal places), strings, and floating points (with decimal places).

The "print" statement we used before can work with a variety of types.

In [3]:
print (4)

4

In [4]:
print ('Hello World!')

Hello World!

### You can check the "type" a value has by using the following function:

In [14]:
type ('Hello World!')

str

In [6]:
type (15)

int

In [7]:
type (23.5435)

float

In [9]:
## Note, just because the item is a number, doesn't mean it's an integer or a floating point. 
## If you include the number within single brackets, Python will interpret this as a string.

type ('12345')

str

In [15]:
## Try printing a big number with the commas included, see what happens.

print (1,234,567)

## The Python print function interprets 1, 234, and 567 as three different integers to be printed, 
## not as one large number. This is a good example of a semantic error. Everything worked, there were no error
## messages, but it may not have been what you were expecting.

1 234 567

## 2. Variables

Variable = A name that refers to a value. Can be created using an *Assignment Statement*.

In [18]:
## Step 1: Assign a value to a variable. The name of the variable can be anything you want.

message = "Hi, I'm in Victoria. It's really nice here. I want to live here."    ## double quotations
n = 25
pi = 3.1415926535897931

In [19]:
## Step 2: Use the print statement to display each of the variables, using their names.

print (message)
print (n)
print (pi)

Hi, I'm in Victoria. It's really nice here. I want to live here.
25
3.141592653589793

In [20]:
## Step 3: Check what the values of each of the variables are by using the type function.

type (message)

float

In [21]:
type (n)

int

In [22]:
type (pi)

float

**Variable names** can be anything you want, and can include letters, numbers, and the underscore (_) mark.
But, a variable name cannot begin with a number, it must begin with a letter.
You also cannot use a reserved word as a variable name. Python has 33 reserved words, as follows:

1. and   
2. as   
3. assert   
4. break   
5. class   
6. continue   
7. def   
8. del   
9. elif   
10. else   
11. except   
12. False   
13. finally
14. for   
15. from   
16. global   
17. if   
18. import   
19. in   
20. is   
21. lambda   
22. None   
23. nonlocal   
24. not   
25. or   
26. pass   
27. raise 
28. return   
29. True   
30. try   
31. while   
32. with   
33. yield

In [23]:
## What happens if you start a variable name with a number?

2Many = 25

SyntaxError: invalid syntax (<ipython-input-23-ee415b4db7a4>, line 1)

In [39]:
## What happens if you start a variable name with a punctuation mark? 
## What happens if you include different punctuation marks within the variable name?

_Month = "April"
##.Month = "August"
Birth_Month = "November"
##Birth.Month = "July"
##Address@Birth = "22 Main Street"

In [41]:
print (_Month)
## print (.Month)
print (Birth_Month)
##print (Birth.Month)
##print (Address@Birth)

April
November

In [29]:
## What happens when you start a variable name with a capital letter?
## What happens when you start it with a lower case letter?

Age = 23
age = 25

In [30]:
## Question: Would the above two variables be considered the same variable? Print them both out to see the answer.

print (Age)
print (age)

23
25

In [31]:
## What happens when you attempt to use a reserved word as a variable name?

while = 45

SyntaxError: invalid syntax (<ipython-input-31-a89d998e44fa>, line 3)

## 3. Statements

Statement = A unit of code that the Python interpreter can **execute**.

We've seen a couple statements already, including the print statement (e.g., print ('Hello World!')) and the assignment statement (e.g., month = "June").

Normally, a program (also known as a script) will contain multiple statements.

## 4. Expressions

Expression = A combination of values, variables, and operators.

A value by itself can be an expression.
A variable by itself can also be an expression.
But an operator requires a value and/or a variable to function, therefore, on its own it is not an expression.

In [51]:
x = 17        ## is an expression
y = 2 + 5     ## is an expression

In [52]:
17            ## is an expression

17

In [53]:
2 + 5         ## is an expression

7

Because we're using an interpreter, the entry of "2 + 5" results in the output of "7".
In a script or program, written in a text editor (for example), typing "2 + 5" on its own will produce no result -- unless you use a function like **print** to display it.

## 5. Operators & Operands

**Operators** = Special symbols that represent computations like addition and multiplication. We saw these already in Section 2.1.1 under Arithmetic.

Note: In Version 3.x of Python, the division operator (/) will produce an answer WITH decimal places (i.e., a floating point). If you do NOT want to include the decimal places (i.e., you want an integer), you need to use floored division or the // operator.

In [42]:
25 / 5

5.0

In [43]:
25 // 5

5

In [44]:
30 / 7

4.285714285714286

In [45]:
30 // 7

4

There is also something called a **modulus operator** which has the operator %. When you use a modulus operator (%) instead of a division operator (/) or a floored division operator (//), the result displayed is the remainder.

In [46]:
30 / 7

4.285714285714286

In [47]:
30 // 7

4

In [48]:
30 % 7

2

## 6. Order of Operations

If we think back to our elementary school years, you'll probably remember learning the concept of the order of operations in math. I learned the acronym BEDMAS when I was a kid.

B = Brackets
E = Exponential
D = Division
M = Multiplication
A = Addition
S = Subtraction

Order of operations is also used in skill testing questions to 'trick' some people to give the wrong answer!

For example, 2 + 3 x 4 = 2 + 12 = 14. BUT, many people might try to calculate this in the order in which the calculations appear and come up with the answer ... 2 + 3 x 4 = 5 x 4 = 20.

Python uses the standard order of operations such as BEDMAS.

In [54]:
2 + 3 * 4

14

In [55]:
2 + (3 * 4)

14

In [56]:
(2 + 3) * 4

20

## 7. String Operations

Many operators can be used with strings, but they don't always mean the same thing they do when used with numbers.

The + operator can be used to concatenate strings.
The * operator can be used to repeat strings.

In [58]:
## Try using the + operator with strings. What happens between the two strings when they're printed?

title = "Python for Everybody"
author = "Charles Severance"
full = title + author
print (full)

Python for EverybodyCharles Severance

In [60]:
## Try using the + operator with strings, but add other items inbetween the strings to make them print properly.

title = "Lord of the Rings"
author = "J.R.R. Tolkien"
full = title + ", by " + author
print (full)

Lord of the Rings, by J.R.R. Tolkien

In [63]:
## Try using the * operator with strings.

print (full*3)

Lord of the Rings, by J.R.R. TolkienLord of the Rings, by J.R.R. TolkienLord of the Rings, by J.R.R. Tolkien

In [64]:
## Can you think of a way with the * to make the strings display more effectively?

print ("I love cats! "*3)

I love cats! I love cats! I love cats!

Sometimes you may want the user of your program to provide you with the strings you want to use. You can do this by using the **input** function.

You can capture user input two different ways: 
1. By using input() to simply open up the computer for user entry and capture whatever is typed.
2. By using input('Ask for input here.') to direct the user exactly what needs to be entered.

In both scenarios, you can assign the input function to a string variable in order to save the user's input to use later.

In [2]:
## How would you use a string variable to assign undirected input from a user?

whatever = input()

This is undirected input.

In [3]:
print (whatever)

This is undirected input.

In [7]:
# How would you use a string variable to assign directed input from a user?

name = input('What is your name?\n')

What is your name?
Alicia

In [8]:
print (name)

Alicia

## 8. Comments

You've probably already learned comments and didn't know it!

Within your Python code, if you want to type text that you do not want to be interpret as part of your program, you need to start the line with a number sign - #. Anything typed after # will not be interpreted as code. In some cases, like Jupyter Notebooks, if you want to wrap the comment text, you'll need to press Enter and start a new line, and re-enter the #.

As your programs get longer and more complex, it's absolutely vital to include comments, and lots of them. 

When entering comments, imagine one of the following scenarios:

1. Every night when you go to sleep your memory is erased. So every morning when you're working on your script, you need to remind yourself what you were attempting to do.
2. That a complete stranger is going to view your script and attempt to copy it to make their own script, and they've never seen the Python language before.

In [ ]:
# This is a comment.